
  h1{ 
    color: goldenrod;   
     background-color:yellow;
   } 
   p{
    /* color: crimson; ASI SE AGREGAN COMENTARIOS EN HOJAS DE ESTILO    */
     background-color: darkkhaki;
   }
   